# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
*.swp
*.swo

# Backup / temp files
*~
*.tmp
*.bak

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environments
.env/
.venv/
env/
venv/

# Logs
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/

zwischenablage.md